:root {
    --foreground-primary: #ccc;
    --foreground-secondary: #fff;
    --background-primary: #202020;
    --background-secondary: #2d2d2d;
    --background-hover: #031E34;
    --background-selected: #1F5078;
    --background-error: #662222;
    --green: #50fa7b;
    --yellow: #f1fa8c;
    --red: #ff5555;
    --blue: #6272a4;
    --pink: #ff79c6;
    --cyan: #8be9fd;
    --purple: #bd93f9;
    --orange: #ffb86c;
    --border: #808080;
    --white: #fff;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-primary: #52545e;
        --foreground-secondary: #282a36;
        --background-primary: #fff;
        --background-secondary: #f1f3f4;
        --background-hover: #f1f6fd;
        --background-selected: #1a73e8;
        --background-error: #ff9999;
        --green: #309649;
        --yellow: #a8af62;
        --red: #cc4444;
        --blue: #6272a4;
        --pink: #ff79c6;
        --cyan: #61a3b1;
        --purple: #9775c7;
        --orange: #cc9356;
        --border: #cacdd1;
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../webfonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../webfonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../webfonts/roboto_mono/RobotoMono-Regular.woff2') format('woff2'), url('../webfonts/roboto_mono/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: var(--foreground-primary);
    font-family: 'Roboto';
    font-weight: normal;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.flex {
    height: 100%;
    display: flex;
}

.flex-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    margin: 1rem;
}

.master {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
    background-color: var(--background-primary);
    border-right: 1px solid var(--border);
}

.header {
    padding: 0.5rem;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--border);
}

.header button {
    cursor: pointer;
    color: var(--foreground-primary);
    background-color: transparent;
    border: 0;
}

.header button:hover {
    color: var(--foreground-secondary);
}

.master-content {
    flex-grow: 1;
    overflow: auto;
}

.entry {
    font-family: 'Roboto Mono';
    font-size: 0.65rem;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: all 0.3s ease-out;
}

.entry.error {
    color: var(--red);
}

.entry:nth-child(odd) {
    background-color: var(--background-secondary);
}

.entry:hover {
    background-color: var(--background-hover);
}

.entry.selected {
    background-color: var(--background-selected);
    color: var(--foreground-primary);
}

.entry.selected.error {
    background-color: var(--background-error);
    color: var(--foreground-primary);
}

@media (prefers-color-scheme: light) {
    .entry.selected, .entry.selected.error {
        color: var(--background-secondary);
    }
}


.entry .path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
    margin-left: 0.5rem;
}

hr {
    height: 1px;
    border-width: 0;
    color: var(--border);
    background-color: var(--border);
    margin: 0rem;
}

.detail {
    background-color: var(--background-secondary);
    height: 100%;
    width: 67%;
    overflow: hidden;
}

.hidden {
    display: none;
}

.detail-content {
    padding: 0.5rem 1rem;
    height: 100%;
    overflow: auto;
}

.request {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.request:first-child {
    margin-top: 0.5rem;
}

.tag {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-family: 'Roboto Mono';
    border-radius: 3px;
    padding: 0.2rem;
    margin-inline-end: 0.25rem;
    color: var(--white);
}

.tag.type {
    background-color: var(--pink);
}

.tag.ver {
    background-color: var(--blue);
}

.request .path {
    word-break: break-word;
    color: var(--foreground-secondary);
    margin-inline-start: 0.5rem;
}

.renderjson {
    font-family: 'Roboto Mono';
    font-size: 0.65rem;
    overflow: auto;
    background-color: var(--background-primary);
    padding: 0.5rem;
}

.renderjson + .renderjson {
    margin-top: 1rem;
}

.renderjson .label {
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    color: var(--cyan);
}

.renderjson a {
    text-decoration: none;
    color: var(--orange);
}

.renderjson .disclosure {
    color: var(--pink);
    font-size: 150%;
}

.renderjson .syntax {
    color: var(--foreground-primary);
}

.renderjson .string {
    color: var(--yellow);
}

.renderjson .number {
    color: var(--purple);
}

.renderjson .boolean {
    color: var(--purple);
}

.renderjson .key {
    color: var(--green);
}

.renderjson .keyword {
    color: var(--purple);
}

.renderjson .object.syntax {
    color: var(--foreground-primary);
}

.renderjson .array.syntax {
    color: var(--foreground-primary);
}